<div class="background-overlay"></div>
<div class='recipe-title'>{{title}}</div>
<div class='tags-container'>
  {{#each tag in tags}}
    <div {{bind-attr class='tag.selected:tag-existing:tag-missing :tag'}}>
      {{tag.name}}
    </div>
  {{/each}}
</div>
