@import 'type_ahead';
@import 'nprogress';

body {
  font-family: 'Roboto', sans-serif;
  background: #2C3E50;
}

a, a:hover, a:active {
  text-decoration: none
}

%disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}

.top-bar {
  height: 70px;
  padding: 30px 50px 0 50px;
  text-align:center;
  .button.arrow-left {
    display: block;
    float: left;
  }
  .title {
    display: inline-block;
    color:#1C2834;
    font-size: 34px;
    font-weight: 300;
  }

  .space-small{
    width: 150px;
    height: 100%;
    &.right {
      float: right;
    }
    &.left {
      float: left;
    }
  }
}
.container{
  width:800px;
  margin:0 auto;
}

.title-with-margin {
  color: white;
  text-align: center;
  margin: 150px 0 0 0;
  font-size: 30px;
}


h1,h2,h3,h4{
  color: white;
  font-weight: 100;
}

.recipes-container {
  margin-top: 50px;
}

.search-result {
  margin-bottom: 140px;
}

.recipe-page {
  background: #eee;
  color:#1C2834;
  padding-bottom: 60px;
  border-radius:8px;
  margin-top: 50px;
  margin-bottom: 100px;

  .food-image-container{
    position: relative;
    overflow: hidden;
    height: 344px;
    margin-bottom: 50px;

    img.forground {
      width: 608px;
      height: 344px;
      position:absolute;
      top:0;
      left: 86px;
      display: block;
    }
    .background-overlay {
      opacity: .3;
      background:black;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
    img.background {
      position:absolute;
      display: block;
      left: -10px;
      top: -66px;
    }
  }

  .content {
    padding: 0 100px 0 60px;
  }

  h1 {
    left: 90px;
    font-weight: 400;
    color: #1C2834;
    line-height: 34px;
    margin-bottom: 15px;
    text-transform: capitalize;
  }

  .main-content {
    width: 100%;
    overflow: auto;
  }

  .ingredients {
    float:left;
    width: 60%;
    .ingredients-title{
      margin-top: 12px;
      font-size: 20px;
      font-weight: 400;
    }
    .ingredients-sub-title{
      margin-top: 12px;
      font-size: 18px;
    }
    ol {
      font-size: 16px;
      margin: 8px 0;
    }
  }

  .tag-container {
    float:right;
    width: 40%;
    margin-top: 70px;
    .tag {
      font-weight: 400;
    }
  }

  .instruction {
    margin-top: 24px;
    width: 100%;
    box-sizing: border-box;
    p {
      margin-bottom:0;
    }
  }
}

div.tag, a.tag {
  @extend %disable-select;
  float: right;
  margin: 4px;
  padding: 2px 6px 3px 7px;
  font-weight: 100;
  font-size: 14px;
  border-radius: 15px;
  line-height: 16px;

  &.tag-missing{
    color: #bbb;
    border: 2px #bbb solid;
  }
  &.tag-existing{
    color: #F9319F;
    border: 2px #F9319F solid;
  }
}
a.tag{
  cursor:pointer;
}


.recipe-item {
  overflow: hidden;
  position: relative;
  margin-top:15px;
  width: 100%;
  height: 100px;
  padding: 5px 0;
  border-radius: 10px;


  .background-overlay{
    opacity: .3;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
  }

  .recipe-title {
    left:15px;
    top:10px;
    z-index: 10;
    position: absolute;
    width:46%;
    font-size: 23px;
    color: #fff;
    font-weight: 100;
  }

  .tags-container {
    z-index: 50;
    position:absolute;
    top: 3px;
    right: 3px;
    height: 100%;
    max-width: 50%;
    overflow: hidden;

    .tags-sub-container{
      height:100%;
    }
  }
}

.button {
  height: 42px;
  background: none;
  cursor: pointer;
  border-radius: 20px;
  border: 2px #F9319F solid;
  color: #F9319F;
  font-size: 21px;
  line-height: 36px;
  font-weight: 30;
  padding: 0 17px;
  box-sizing: border-box;
  display: inline-block;

  &.arrow-left {
    background: url(../img/arrow-left.png) no-repeat 10px center;
    padding-left:45px;
  }

  &.arrow-right {
    background: url(../img/arrow-right.png) no-repeat 0 center;
    padding-right:40px;
  }
}
