@import 'type_ahead';

body {
  font-family: sans-serif;
  background: #2C3E50;
}

#nprogress .bar {
  background: #A7C520;
}

#nprogress .spinner-icon {
  display: none;
}


%disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}

.container {
  width:900px;
  margin:0 auto;
}


.recipe-item {
  position: relative;
  margin-top:20px;
  width: 100%;
  height: 100px;
  border-radius: 8px;
  border: 2px white solid;
  background: url('../img/background.jpg');

  .recipe-title {
    float: left;
    font-size: 50px;
    padding: 0 50px;
    line-height: 100px;
    height: 100%;
    color: #999;
  }

  .tags-container {
    height: 100%;
    max-width: 35%;
    float: right;
    overflow: hidden;

    .tags-sub-container{
      height:100%;
      .tag {
        @extend %disable-select;
        float:left;
        margin: 3px 5px;
        color: #FF2D00;
        border: 2px #FF2D00 solid;
        padding: 3px 5px;
        border-radius: 15px;
      }
    }
  }

}
