@import 'type_ahead';

body {
  font-family: 'Roboto', sans-serif;
  background: #2C3E50;
}

a, a:hover, a:active {
  text-decoration: none
}

#nprogress {
  .bar {
    background: #A7C520;
  }
  .spinner-icon {
    display: none;
  }
}


%disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}

.container{
  width:800px;
  margin:0 auto;
  padding-bottom:200px;
}

.title-with-margin {
  color: white;
  text-align: center;
  margin: 150px 0 0 0;
  font-size: 30px;
}


h1,h2,h3,h4{
  color: white;
  font-weight: 100;
}

.title-with-margin {

  .recipes-container {

  }
}

.search-result {

}


.recipe-item {
  overflow: hidden;
  position: relative;
  margin-top:15px;
  width: 100%;
  height: 100px;
  padding: 5px 0;
  border-radius: 10px;


  .background-overlay{
    opacity: .35;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
  }

  .recipe-title {
    left:15px;
    top:10px;
    z-index: 100;
    position: absolute;
    width:50%;
    font-size: 23px;
    color: #ddd;
    font-weight: 100;
  }

  .tags-container {
    z-index: 200;
    position:absolute;
    top: 3px;
    right: 3px;
    height: 100%;
    max-width: 50%;
    overflow: hidden;

    .tags-sub-container{
      height:100%;
      .tag {
        @extend %disable-select;
        float:right;
        margin: 4px;
        padding: 2px 6px;
        font-weight: 100;
        font-size: 14px;
        border-radius: 15px;
      }
      .tag-missing{
        color: #F9319F;
        border: 2px #F9319F solid;
      }
      .tag-exisiting{
        color: white;
        border: 2px white solid;
      }

    }
  }
}


