{{#if model.length}}
  <div class="search-result">

    <h2>{{model.length}} recipes found</h2>
    <div class="recipes-container">
      {{#each item in model itemController='recipe-item-wrapper'}}
        {{#link-to 'recipe' item._id}}
          {{recipe-item  image=item.image title=item.name tags=item.tags}}
        {{/link-to}}
      {{/each}}
    </div>
  </div>
{{else}}

  <div class='title-with-margin'>No recipes found</div>

{{/if}}
