{{#if model.length}}
  <div class="search-result">
    <div class="recipes-container">
      {{#each item in model itemController='recipe-item-wrapper'}}
        {{#link-to 'recipe' item._id}}
          {{recipe-item  image=item.image title=item.name tags=item.tags}}
        {{/link-to}}
      {{/each}}
    </div>
  </div>
{{else}}
  {{#if tags.length}}
    <div class='title-with-margin'>
      {{#if toMuchAttempts}}
         try with different ingredients
      {{else}}
        no recipes found
      {{/if}}
    </div>
  {{else}}
    <div class='title-with-margin'>search for recipes</div>
  {{/if}}
{{/if}}
